<p id="notice"><%= notice %></p>

<h1>Listing Donkeys</h1>

<div class="row"></div>

  <% @donkeys.each do |donkey| %>

    <div class="col-xs-6 col-sm-4 col-md-3">

      <div class="panel <%= donkey.in_daycare ? 'panel-success' : 'panel-default' %>">
        <div class="panel-heading">
          <h3 class="panel-title"><%= donkey.name.titleize %> <%= donkey.owner.try(:last_name) %></h3>
        </div>
        <div class="panel-body">
          <%= image_tag donkey.avatar.url(:medium), class: 'img-rounded img-responsive' %>
          <p>
           <%= link_to fa_icon('eye', text: 'Show'), donkey, class: 'btn btn-default btn-xs' %>
           <%= link_to fa_icon('pencil', text: 'Edit'), edit_donkey_path(donkey), class: 'btn btn-default btn-xs' %>
           <%= link_to fa_icon('bomb', text: 'Destroy'), donkey, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs' %>
         </p>

        </div>
      </div>
    </div>
  <%end%>
</div>



<br>

<%= link_to 'New Donkey', new_donkey_path %>
