<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @donkey.name.titleize %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @donkey.owner.last_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @donkey.dob %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @donkey.breed.breed_name %>
</p>

<p>
  <strong>Special Needs:</strong>
  <%= @donkey.med_cond %>
</p>

<p>
<%= image_tag @donkey.avatar.url(:medium) %>

</p>


<%= link_to 'Edit', edit_donkey_path(@donkey) %> |
<%= link_to 'Back', donkeys_path %>
