<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @owner.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @owner.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @owner.email %>
</p>

<p>
  <strong>Evac Waiver:</strong>
  <%= @owner.evac_waiver %>
</p>

<p>
  <%= link_to 'Edit', edit_owner_path(@owner) %> |
  <%= link_to 'Back', owners_path %>
</p>

<p>
  <strong><%= @owner.first_name %> <%= @owner.last_name %>'s Donkeys:</strong>
</p>

<!-- new table of dogs for owner show -->
<% @owner.donkey.each do |donkey| %>

    <div class="col-xs-6 col-sm-4 col-md-3">

      <div class="panel <%= donkey.in_daycare ? 'panel-success' : 'panel-default' %>">
        <div class="panel-heading">
          <h3 class="panel-title"><%= donkey.name.titleize %> <%= donkey.owner.try(:last_name) %></h3>
        </div>
        <div class="panel-body">
          <%= image_tag donkey.avatar.url(:medium), class: 'img-rounded img-responsive' %>
        </div>

      </div>
    </div>
<%end%>
